<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.newstore.webapp.domain.dao.goods.GoodsTagDao">
    <resultMap id="GoodsTagMap" type="com.lwxf.newstore.webapp.domain.entity.goods.GoodsTag">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="goods_id" property="goodsId" jdbcType="CHAR" />
        <result column="tag_id" property="tagId" jdbcType="CHAR" />
    </resultMap>
    <resultMap id="GoodsTagsInfo" type="com.lwxf.newstore.webapp.domain.dto.goods.GoodsTagsInfo">
        <id property="goodsTagId" column="goodsTagId"/>
        <result property="goodsId" column="goods_id"/>
        <result property="name" column="name"/>
        <result property="tagId" column="tag_id"/>
        <result property="disabled" column="is_disabled"/>
        <result property="color" column="color"/>
    </resultMap>
    <sql id="columns">
id, goods_id, tag_id
</sql>

    <select id="selectById" resultMap="GoodsTagMap" parameterType="String">
SELECT <include refid="columns" />
FROM   goods_tag
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="GoodsTagMap">
SELECT <include refid="columns" />
FROM   goods_tag
<where><trim prefixOverrides="AND">
<if test="id != null">
    id = #{id}
</if>
<if test="goodsId != null">
    AND goods_id = #{goodsId}
</if>
<if test="tagId != null">
    AND tag_id = #{tagId}
</if>
</trim></where>

</select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
goods_tag(id, goods_id, tag_id)
   VALUES(#{id}, #{goodsId}, #{tagId})
</insert>

    <update id="updateByMapContext">
UPDATE goods_tag
<set><trim suffixOverrides=",">
<if test="_parameter.containsKey('goodsId') and goodsId != null">
    goods_id = #{goodsId},
</if>
    <if test="_parameter.containsKey('tagId') and tagId != null">
    tag_id = #{tagId}
</if>
</trim></set>
WHERE  id = #{id}
</update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   goods_tag
WHERE  id = #{id}
</delete>

    <select id="findAll" resultMap="GoodsTagMap">
        SELECT <include refid="columns" />
        FROM   goods_tag
    </select>
    <select id="isExistByTagId" resultType="java.lang.Boolean">
        SELECT count(*) FROM goods_tag WHERE tag_id = #{arg0}
    </select>
    <delete id="deleteByGoodsIdAndTagId">
        delete from goods_tag where goods_id = #{goodsId} and tag_id = #{tagId}
    </delete>
    <select id="findByGoodsId" resultMap="GoodsTagsInfo">
        select gt.goods_id,gt.id goodsTagId,gt.tag_id,t.color,t.name,t.is_disabled  from goods_tag gt LEFT JOIN tag t on gt.tag_id = t.id where gt.goods_id = #{goodsId} and t.is_disabled = false
    </select>
    <select id="isExistByGoodsIdAndTagId" resultType="java.lang.Boolean">
        select count(*) from goods_tag where goods_id = #{goodsId} and tag_id = #{tagId}
    </select>
    <delete id="deleteByGoodsId">
        delete from goods_tag where goods_id = #{goodsId};
    </delete>
</mapper>
