<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.newstore.webapp.domain.dao.news.NewsTypeDao">
    <resultMap id="NewsTypeMap" type="com.lwxf.newstore.webapp.domain.entity.news.NewsType">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="is_disabled" property="disabled" jdbcType="BIT" />
        <result column="parent_id" property="parentId" jdbcType="CHAR" />
    </resultMap>
    <sql id="columns">
id, name, is_disabled, parent_id
</sql>

    <select id="selectById" resultMap="NewsTypeMap" parameterType="String">
SELECT <include refid="columns" />
FROM   news_type
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="NewsTypeMap">
SELECT <include refid="columns" />
FROM   news_type
<where><trim prefixOverrides="AND">
<if test="id != null">
    id = #{id}
</if>
<if test="name != null">
    AND name = #{name}
</if>
<if test="disabled != null">
    AND is_disabled = #{disabled}
</if>
<if test="parentId != null">
    AND parent_id = #{parentId}
</if>
</trim></where>

</select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
news_type(id, name, is_disabled, parent_id)
   VALUES(#{id}, #{name}, #{disabled}, #{parentId})
</insert>

    <update id="updateByMapContext">
UPDATE news_type
<set><trim suffixOverrides=",">
<if test="_parameter.containsKey('name') and name != null">
    name = #{name},
</if>
    <if test="_parameter.containsKey('disabled') and disabled != null">
    is_disabled = #{disabled}
</if>
</trim></set>
WHERE  id = #{id}
</update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   news_type
WHERE  id = #{id}
</delete>

    <select id="isExistName" resultType="java.lang.Boolean">
        select count(*) from news_type where name = #{name}
    </select>
    <select id="findByParentId" resultMap="NewsTypeMap">
        select <include refid="columns"/> from news_type where parent_id = #{id}
    </select>
    <select id="findByParentIds" resultType="java.lang.Boolean">
        select count(*) from new where
        <foreach collection='types'  item="type"  open="("   separator="," close=")">
            #{type.id}
        </foreach>
    </select>
    <select id="findAll" resultMap="NewsTypeMap">
        select <include refid="columns"/> from news_type
    </select>
</mapper>
