
.site-item {
	display: block;
	width: 100%;
}

.site-item ul {
	display: block;
	padding: 0rem 0.5rem;
}

.site-item ul li {
	position: relative;
	width: 100%;
	display: inline-block;
	border-bottom: solid 1px #DDDDDD;
	padding: 1rem 0rem;
}


.site-item ul li:last-child{
	border-bottom: none;
}

.site-item ul li .item {
	float: left;
}

.site-item ul li .pack span {
	display: block;
	width: 1rem;
	height: 1rem;
	border: solid 1px #AAAAAA;
	border-radius: 50%;
	margin: 1rem 0.2rem;
	text-align: center;
	line-height: 1.1rem;
	font-size: 0.7rem;
}

.site-item ul li .pack i{
	display: none;
}

.site-item ul li .pack span.siteCk {
	background: orangered;
	border: solid 1px white;
}

.site-item ul li .pack span.siteCk i {
	display: block;
	color: white
}

.site-item ul li .siteNav {
	width: 15rem;
	margin-left: 0.3rem;
	
}

.site-item ul li .siteNav p {
	color: #333333;
	font-size: 0.7rem;
}

.site-item ul li .siteNav p span {
	float: right;
}

.site-item ul li .siteNav h3 {
	width: 100%;
	clear: both;
	font-size: 0.6rem; 
	color: #AAAAAA;
	padding-top: 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	
	-webkit-box-orient: vertical;
	display: -webkit-box;
	line-clamp: 2;
}

.site-item ul li .siteNav {
	font-size: 0.6rem;
	color: #AAAAAA;
}

.site-item ul li .siteAmend{
	position: absolute;
	bottom: 1rem;
	width: 1.6rem;
	height: 2.9rem;
	line-height: 2.9rem;
	text-align: center;
	border: solid 1px #AAAAAA;
	right: 0.3rem;
	border-radius: 0.2rem;
}

.site-item ul li .siteAmend i{
	color: #AAAAAA;
	font-size: 1rem;
	
	
	
}

.shopSite-title .title{
	width: 100%;
	padding: 0.5rem 0rem;
	font-size: 0.7rem;
	text-align: center;
	border-bottom: solid 1px #EEEEEE;
}


.appenD{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	background: orangered;
}


.appenD a{
	color: white;
}





.goodMessage {
	margin: 0.3rem 0rem;
	padding: 0rem 0.5rem;
	clear: both;
	display: block;
	background: white;
}

.goodMessage ul {
	width: 100%;
}

.goodMessage ul li.goodMlistumg {
	position:relative;
	
	width: 100%;
	border-bottom: solid 1px #EEEEEE;
	
	font-size: 0.7rem;
	line-height: 2rem;
}

.goodMessage ul li.goodMlistumg small {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 0.7rem;
	color: #333;
	margin-right: 0.6rem;
}

.goodMessage ul li.goodMlistumg span {
	color: #333333;
	font-size: 0.7rem;
	display: block;
	width: 13rem;
	padding-left: 3rem;
	height: 2rem;
	
}


.goodMessage ul li.goodMlistumg small.none {
	color: orangered;
	margin: 0px;
	margin-left: 0.5rem;
}

.goodMessage ul li:last-child {
	border: none;
}

.goodMessage .leave{
/*float: right;*/
	display: block;
	width: 100%;
	border: none;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.7rem;
	background: white;
   	height: 2rem;
}


/*.addsite{
	position: fixed;
	z-index: 99;
	height: 100%;
	width: 100%;
    border:0rem;
	left: 0rem;
	background-color: rgba(00, 00, 00, 0.5);
	overflow: auto;
	display: block;
	-webkit-transition: all 0.5s;
			         -moz-transition: all 0.3s;
			         -ms-transition: all 0.3s;
			         -o-transition: all 0.3s;
			         transition: all 0.3s;
}

*/

.sietbut{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.7rem;
	text-align: center;
	color: white;
	background: #D20000;
	border-radius: 0.5rem;
	margin-top: 1rem;
}


/*地址*/

.addsite{
	
	position: fixed;
	z-index: 99;
	height: 100%;
	width: 100%;
    border:0rem;
    top: 0px;
	left: 0rem;
	background-color: rgba(00, 00, 00, 0.5);
	
	
	
}


.addsiteNav{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 12rem;
	background: white;
	
}

.addsiteNav-title{
	position: relative;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 0.7rem;
	border-bottom: solid 1px #EEEEEE;
}

.addsiteNav-title .but{
	position: absolute;
	height: 2rem;
	line-height: 2rem;
	top: 0px;
	right: 0px;
}

.addsiteNav-title .but span{
	float: left;
	height: 2rem;
	display: block;
	margin:0rem 0.5rem;
	font-size: 0.6rem;
	color:#333333;
}


.addsiteNav-title .but small{
	float: left;
	height: 2rem;
	display: block;
	margin:0rem 0.5rem;
	font-size: 0.6rem;
	color: orangered;
}   

.city-pick{
	width: 100%;
	display: block;
	height: 10rem;
}


.city-pick .item{
    display: block;
	width: 33.33%;
	float: left;
	height: 10rem;
	overflow: auto;
	overflow-x: hidden;

}

.city-pick .item ul{
	width: 5rem;
	display: block;
	padding-left: 0.5rem;
}


.city-pick .item ul li{
	width:4rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.7rem;
	
}


.city-pick .item ul li.active{
	color: #D20000;
    
}
.xingbie p{
	float: left;
	margin-left: 0.5rem;
	color: #AAAAAA;
	font-size: 0.7rem;
	
}

.xingbie b{
	font-weight: 100;
}

.xingbie b.blue{
	color: cornflowerblue;
}


.xingbie b.red{
	color: red;
}