.order{
	background: whitesmoke;
}
.order-head{
	width: 100%;
	
	background: white;
}

.order-head ul{
	padding-top: 0.5rem ;
   display: inline-block;
	width: 100%;
	
	border-bottom: solid 1px #EEEEEE;
}

.order-head ul li{
	width: 20%;
	text-align: center;
	color: #333333;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.7rem;
	float: left;
	padding-bottom: 0.5rem;
}

.order-head ul li.active span{
	padding-bottom: 0.5rem;
	border-bottom: solid 2px #d20000;
	color: #D20000;
}

.order-nav{
	width: 100%;
	
}

.order-class{
	width: 100%;
	display: block;
}

.order-class .order-item{
	display: block;
	padding: 0.5rem 0rem;

	
	
	
	
}


.order-class .order-itemNav{
	background: white;
	padding: 0.5rem 0rem;
	padding-left: 0.5rem;
}

.order-class .order-itemNav .ordernum{
	width: 100%;
	padding-bottom: 0.5rem;
	font-size: 0.7rem;
	height: 1rem;
	line-height: 1rem;
	position: relative;
	color: #333333;
}

.order-class .order-itemNav .ordernum span{
	display: block;
	position: absolute;
	top: 0px;
	right: 0.5rem;
	
	height: 1rem;
	line-height: 1rem;
	font-size: 0.7rem;
}


.order-good{
	display: inline-block;
	width: 100%;
	border-top: solid 1px #EEEEEE;
	border-bottom: solid 1px #EEEEEE;
	padding: 0.5rem 0rem;
}

.order-good .item{
	float: left;
}

.order-good .imges{
	width: 4rem;
	height: 4rem;
	border-radius: 0.3rem;
	overflow: hidden;
}

.order-good .imges img{
	display: block;
	width: 4rem;
	height: 4rem;
}

.order-good  .nametype{
	width: 10rem;
	
	margin: 0rem 0.5rem;
}

.order-good  .nametype p{
	width: 100%;
	color: #333333;
	font-size: 0.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;

}

.order-good  .nametype span{
	width: 100%;
	color: #AAAAAA;
	margin: 0.3rem 0rem;
	font-size: 0.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	line-clamp: ;
	

}


.order-good  .status{
	width: 2rem;
	padding-right: 0.5rem;
	float: right;
	text-align: right;
}
.order-good  .status span{
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	color: #666;
	font-size: 0.7rem;
}

.order-good  .status small{

	color: #D20000;
	
	font-size: 0.6rem;
}


.order-item .order-payment{
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.7rem;
	padding-top: 0.3rem;
}

.order-item .order-payment span{
	float: right;
	display: block;
	width: 3rem;
	text-align: center;
	height: 1rem;
font-size: 0.6rem;
	border-radius: 0.1rem;
	background: #D20000;
	color: white;
	margin-right: 0.5rem;
}

.nonal{
	padding: 1rem 0rem;
	background: white;
}

.nonal p{
	font-size: 0.8rem;
	text-align: center;
	
	color: #AAAAAA;
}

.nonal span{
	display: block;
	width: 5rem;
	margin: 0px auto;
	color: white;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.8rem;
	background: orangered;
	border-radius: 0.2rem;
	text-align: center;
	color: white;
	margin-top: 0.2rem;
	
}


.nonal span a{
	color: white;
}
